# *
# !*/
# !/Sources/com.arkyasmal.windowActions.sdPlugin/app/pluginActions/pluginActions.exe
pluginActions/
localpycs
config.bat
dist
node_modules
virtual
determineActiveWindows/
*determineActiveWindows.spec
*pluginActions.spec
build
*package-lock.json
*.pptx
__pycache__